

.home-layout{
  background-color: rgba(214, 46, 51, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home{
  height: 660px;
  background-image: url("../imgs/events-heavenly-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-content h2{
  font-size: 60px;
}

.openNav{
  left: 20px;
  top: 60%;
  cursor: pointer;
  color: #fff;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.sidenav{
  background-color: black;
  position: fixed;
  left: -250px;
  top: 0;
  bottom: 0;
  padding-top: 60px;
  width: 250px;
}
.sidenav li{
  padding: 20px 8px 20px 32px;
  cursor: pointer;

}
.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  text-decoration: none;
}
.sidenav a{
  color: white;
  text-decoration: none;
  font-size: 25px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sidenav li:hover a, .sidenav .closebtn:hover {
  color: rgba(214, 46, 51, 0.4);
}

.slider{
  width: 50%;
}

.slider .toggle{
  background-color: rgba(214, 46, 51, 0.6);
  color: white;
  padding: 10px;
  cursor: pointer;
  margin: 0;
}

.slider .inner{
  background-color: #ccc;
  padding: 10px;
  display: none;
}

.count{
  background-image: url("../imgs/invitation-2508607__340.jpg");
  background-repeat: no-repeat;
  background-position:  center center;
  background-size: cover;
}
.count .count-overlay{
  background-color: rgba(214, 46, 51, 0.6);
  height: 100%;
}

.count .item{
  border: 1px solid white;
  border-radius: 10px;
  padding: 50px;
  color: white;
  font-size: 30px;
  font-weight: 500;
  height: 100%;
}

.contact .section-header h2{
  color: rgb(68, 68, 68);
  font-size: 35px;
  font-weight: 700;
}

.contact p{
  color: rgb(119, 119, 119);
  font-weight: 300;
  line-height: 26px;
}

.contact .info p{
  font-weight: 400;
}

.contact .left h3{
  font-size: 18px;
  font-weight: 900;
  color: rgb(68, 68, 68);

}

.contact .social-list a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: rgb(119, 119, 119);
  margin-right: 10px;
  border: 1px solid rgb(119, 119, 119);
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.contact .social-list a:hover{
  color: white;
  background-color: red;
  border-color: red;
}


/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .slider{
    width: 90%;
  }
}